
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #9b4dca !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

// 变量
// !default 默认变量

// 通常我们可以将设计图的颜色放在这儿方便使用
// 比如说那天突然想换个颜色就可以在这儿更改